body{
    background-color: rgb(127, 201, 195);
}

nav{
    line-height: 1.5em;
    display: block;
    width: 1000px;
    margin: auto; 
    border:5px cornflowerblue dotted;
    padding:10px;
    border-radius: 15px;
    text-align: center;
}

.AboutMe{
    color:blue;

    font: normal Arial, Helvetica, sans-serif;

    line-height: 1.0em;
    margin:0;

    display: block;
    width: 600px;
    margin: auto; 
    border:5px cornflowerblue solid;
    padding:10px;
    border-radius: 15px;

    text-align: center;
}

.imageMap{
    color:blue;

    font: normal Arial, Helvetica, sans-serif;

    line-height: 1.0em;
    margin:0;

    display: block;
    width: 400px;
    margin: auto; 
    border:5px cornflowerblue solid;
    padding:10px;
    border-radius: 15px;
    text-align: center;
}
.Bridgewater{
    color:blue;

    font: normal Arial, Helvetica, sans-serif;

    line-height: 1.0em;
    margin:0;

    display: block;
    width: 750px;
    margin: auto; 
    border:5px cornflowerblue solid;
    padding:10px;
    border-radius: 15px;
    text-align: center;
}
.Nantucket{
    color:blue;

    font: normal Arial, Helvetica, sans-serif;

    line-height: 1.0em;
    margin:0;

    display: block;
    width: 750px;
    margin: auto; 
    border:5px cornflowerblue solid;
    padding:10px;
    border-radius: 15px;
    text-align: center;
}
.Boston{
    color:blue;

    font: normal Arial, Helvetica, sans-serif;

    line-height: 1.0em;
    margin:0;

    display: block;
    width: 800px;
    margin: auto; 
    border:5px cornflowerblue solid;
    padding:10px;
    border-radius: 15px;
    text-align: center;
}